*{box-sizing:border-box;}
input {
    width: 50%;
    margin-left: 25%;
}
div {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid #08f;
    margin: 50px auto;
}
span {
    position: absolute;
    top: 0;
    left: 50px;
    display: block;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    border-radius: 50%;
    background: #08f;
}
