@import "~react-image-gallery/styles/css/image-gallery.css";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}
.app-wrapper{
  display: flex;
  flex-wrap: wrap;
  /*display: grid;*/
  /*grid-template-areas:*/
  /*"h h"*/
  /*"n c";*/

  /*grid-template-rows: 60px 1fr;*/
  /*grid-template-columns: 2fr 10fr;*/
}

.app-wrapper-content{
  flex: 3;
  left: 250px;
  position: relative;
  /*grid-area: c;*/
  min-height: calc(100vh - 60px);
  background-color: #c8d8e4;
  max-width: calc(100% - 250px);
}


