*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: 'PF Encore Sans Pro', 'sans-serif';
}

button,
.slack__end,
.features__icon__end {
    cursor: pointer;
    background: transparent;
}

/* ------Container-------- */
.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

/* ------Header-------- */
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 22px 0 0 0;
    align-items: center;
}

/* ------Nav------- */
.nav {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

}

.nav__link {
    margin-left: 63px;
    color: white;
    text-decoration: none;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    color: #fb645e;
    text-decoration: underline;
    height: 10px;
}

/* ------ Intro------- */
.intro__container {
    height: 100%;
    display: flex;
    padding-top: 181px;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.intro__inner {
    margin: 0;
    width: 100%;
    text-align: center;
}

.intro__inner + .slack__end {
    position: absolute;
    margin-bottom: 40px;
}

.intro {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../media/Images/back.png");
    padding-top: 92px;
}

.intro__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 51px;
    line-height: 57px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    /*padding-top: 292px;*/
}

.title__inner {
    color: #fc635e;
}

.intro__title::before,
.intro__title::after {
    content: '';
    width: 107px;
    height: 8px;
    display: inline-block;
    background-color: #7d7b79;
}

.intro__subtitle {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #7d7b79;
    font-weight: 300;
    text-align: center;
    margin: 25px 0 55px;
}

.cursor {
    padding: 10px 0 0 10px;
}

.btn {
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #fc635e;
    font-weight: 300;
    text-align: center;
    padding: 13px 20px;
}

.btn:hover {
    background-color: #fc635e;
    color: white;
}

.btn--red {
    width: 205px;
    height: 56px;
    border-radius: 7px;
    border: 2px solid #fc635e;
}

.slack__end {
    width: 35px;
    height: 35px;
    background-color: #fb635d;
    border-radius: 50%;
    display: flex;
    border: 1px solid tomato;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease-in-out;
}

.gg-arrow-down {
    color: white;
    transition: 0.3s all ease-in-out;
}

.slack__end:hover {
    background-color: transparent;
}

.slack__end:hover .gg-arrow-down {
    color: tomato;
}

/* ------ Features------- */
.features {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0 15px;
}

.features__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.features__title {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #868686;
    font-weight: 500;
    text-transform: uppercase;

}

.features__redtext {
    color: #fb635d;
}

.features__line {
    display: inline-block;
    width: 337px;
    height: 1px;
    background-color: #adadad;
    text-align: center;
    margin: 13px auto 0;
}

.features__subtitle {
    display: inline-block;
    width: 522px;
    height: 51px;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #adadad;
    font-weight: 300;
    margin: 17px auto 0;
}

.features__item__line {
    display: inline-block;
    width: 57px;
    height: 2px;
    background-color: #adadad;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro__hex {
    position: relative;
    /* background-repeat: no-repeat;
    background-image: url("../media/Images/hex1.png"); */
}

.hexagon {
    position: relative;
    width: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58.89px;
    background-color: #fb635d;
    margin: 29.44px 0;
    border-left: solid 5px #fe8682;
    border-right: solid 5px #fe8682;
}

.hex__img1 {
    position: absolute;
    z-index: 2
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 72.12px;
    height: 72.12px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 9.9376px;
}

.hexagon:before {
    top: -36.0624px;
    border-top: solid 7.0711px #fe8682;
    border-right: solid 7.0711px #fe8682;
}

.hexagon:after {
    bottom: -36.0624px;
    border-bottom: solid 7.0711px #fe8682;
    border-left: solid 7.0711px #fe8682;
}

.hexagon2 {
    position: relative;
    width: 102px;
    height: 58.89px;
    background-color: white;
    margin: 29.44px 0;
    border-left: solid 5px #fb635d;
    border-right: solid 5px #fb635d;
}

.hexagon2:before,
.hexagon2:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 72.12px;
    height: 72.12px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 9.9376px;
}

.hexagon2:before {
    top: -36.0624px;
    border-top: solid 7.0711px #fb635d;
    border-right: solid 7.0711px #fb635d;
}

.hexagon2:after {
    bottom: -36.0624px;
    border-bottom: solid 7.0711px #fb635d;
    border-left: solid 7.0711px #fb635d;
}

.features__item {
    /* width: 25%; */
    display: flex;
    margin: 85px 0;
    align-items: center;
    flex-direction: column;
    /* padding: 0 42px; */
}

.feautures__icon {
    margin-bottom: 18px;
}

.features__item__title {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #868686;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 20px;
}

.features__item__text {
    max-width: 212px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #adadad;
    font-weight: 300;
    text-align: center;
    padding-top: 30px;
}

.features__icon__end {
    width: 30px;
    height: 30px;
    border: 1px solid tomato;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease-in-out;
}

#fea__icon {
    color: tomato;
}

.features__icon__end:hover {
    background-color: tomato;
}

.features__icon__end:hover #fea__icon {
    color: white;
}

/* ------ Works------ */
.works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 576px;
    padding: 92px 0 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../media/Images/City.png");
    align-items: center;
}

.works__equal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 0.7;
}

.works__text {
    font-size: 51px;
    letter-spacing: 0px;
    line-height: 57px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.works__text__red {
    color: #fc635e;
}

.intro__works {
    width: 100%;
    text-align: center;
    height: 100%;
    max-height: 372px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 8px solid #3e5163;
    padding: 117px 0 91px;
}

.intro__works + .slack__end {
    margin-top: 50px;
}

/* ------Team------- */
.team {
    padding: 25px 0;
}

.team .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.team .container .features__icon__end {
    margin-top: 30px;
}

.intro__team {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.team__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 160px;
}

.team__title {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #868686;
    font-weight: 500;
    text-transform: uppercase;
}

.team__title__red {
    color: #fc635e;
}

.team__subtitle {
    display: inline-block;
    width: 522px;
    height: 51px;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #adadad;
    font-weight: 300;
    margin: 40px auto 0;
}

.team__img {
    margin-top: 58px;
}

.item1__title {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #868686;
    font-weight: 500;
}

.item1__title__red {
    color: #fc635e;
}

.item1__subtitle {
    width: 143px;
    height: 55px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 17px;
    color: #9f9f9f;
    font-weight: 300;
    text-align: left;
    padding-top: 10px;;
}

.team__items {
    position: relative;
    padding-top: 57px;
}

.team__item {
    position: absolute;
    left: 0;
    top: 0;
    width: 190px;
    height: 109.70px;
    background-color: #ffffff;
    margin: 54.85px 0;
    border-left: solid 3px #b9b9b9;
    border-right: solid 5px #fb645e;
}

.team__item::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 93px;
    background-color: #adadad;
    border: 3px solid #fb645e;
    bottom: -93px;
    left: 43%;
}

.team__item__text {
    position: absolute;
    z-index: 2;
    text-align: center;
    left: 11%;
}

.item1__inline {
    display: inline-block;
    width: 76px;
    height: 1px;
    background-color: #adadad;

}

.team__item:before,
.team__item:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 134.35px;
    height: 134.35px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 22.8249px;
}

.team__item:before {
    top: -67.1751px;
    border-top: solid 7.0711px #fb645e;
    border-right: solid 7.0711px #fb645e;
}

.team__item:after {
    bottom: -67.1751px;
    /* border-bottom: solid 7.0711px transparent; */
    border-left: solid 1px #fb645e;
    content: "";
    position: absolute;
    width: 110px;
    height: 3px;
    background-color: #fb645e;
    bottom: -26px;
    left: 98%;
    transform: rotate(26deg);
}

.team__item__icon {
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: #fb635d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    left: -19px;
    top: -19px;
}

.team__item1 {
    position: absolute;
    left: 280px;
    top: -6px;
    width: 190px;
    height: 109.70px;
    background-color: #ffffff;
    margin: 54.85px 0;
    border-left: solid 5px #fb645e;
    border-right: solid 3px #b9b9b9;
}

.team__item1:before,
.team__item1:after {
    position: absolute;
    z-index: 1;
    content: '';
    width: 134.35px;
    height: 134.35px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 22.8249px;
}

.team__item1:before {
    top: -67.1751px;
    border-top: solid 7.0711px #fb645e;
    border-right: solid 3px #b9b9b9;
}

.team__item1:after {
    bottom: -67.1751px;
    border-bottom: solid 3px #b9b9b9;
    border-left: solid 3px #b9b9b9;
}

.team__item2 {
    position: absolute;
    left: 375px;
    top: -170px;
    width: 190px;
    height: 109.70px;
    background-color: #ffffff;
    margin: 54.85px 0;
    border-left: solid 5px #fb645e;
    border-right: solid 5px #fb645e;
}

.team__item2:before,
.team__item2:after {
    position: absolute;
    z-index: 1;
    content: '';
    width: 134.35px;
    height: 134.35px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 22.8249px;
}

.team__item2:before {
    top: -67.1751px;
    border-top: solid 7.0711px #fb645e;
    border-right: solid 7.0711px #fb645e;
}

.team__item2:after {
    bottom: -67.1751px;
    border-bottom: solid 3px #b9b9b9;
    border-left: solid 7.0711px transparent;

}

.team__item3 {
    position: absolute;
    left: 557px;
    top: -79px;
    width: 264px;
    height: 152.42px;
    background-color: #ffffff;
    margin: 76.21px 0;
    border-left: solid 3px #b9b9b9;
    border-right: solid 5px #fb645e;
}

.team__item3:before,
.team__item3:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 186.68px;
    height: 186.68px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 33.6619px;
}

.team__item3:before {
    top: -93.3381px;
    border-top: solid 7.0711px #fb645e;
    border-right: solid 7.0711px #fb645e;
}

.team__item3:after {
    bottom: -93.3381px;
    border-bottom: solid 7.0711px #fb645e;
    border-left: solid 3px #b9b9b9;
}

.team__item__text3 {
    position: absolute;
    z-index: 2;
    text-align: center;
    left: 25%;
}

.team__item__icon1 {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 4px solid #fb645e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    left: 102px;
    top: 208px;
}

.team__item__img {
    padding-top: 109px;
    padding-left: 59px;
}

/* .team__item__icon{
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: #fb635d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  left: -19px;
  top: -19px;
} */
/* ------Landing------- */
.intro__landing {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro__landing__title {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #868686;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.intro__landing__title__red {
    color: #fc635e;
}

.landing {
    width: 100%;
    background-color: #cdcaca;
    padding: 57px 0 16px;
}

.landing__line {
    width: 10px;
    height: 30px;
    background-color: #fc635e;
    display: inline-block;
}

.landing__title {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #868686;
    font-weight: 500;
    margin-bottom: 30px;
}

.landing__text {
    width: 399px;
    height: 123px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #9e9898;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 37px;
}

.button__more-details {
    width: 167px;
    height: 44px;
    border-radius: 7px;
    background-color: #fc635e;
    border-color: #fc635e;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #f2f2f2;
    font-weight: 300;
    text-align: center;
    outline: none;
    border: none;
}

.button__more-details:hover {
    background-color: transparent;
    color: #fc635e;
    border: 1px solid #fc635e;
}

.intro__landing__pages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 77px 0 45px;
}

/* ------Adversting------- */
.adversting {
    padding: 130px 0 16px;
}

.adversting__title {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #868686;
    font-weight: 500;
    margin-bottom: 35px;
    text-transform: uppercase;
    text-align: right;
}

.adversting__line {
    display: inline-block;
    width: 10px;
    height: 30px;
    background-color: #fc635e;
}

.adversting__subtitle {
    width: 399px;
    height: 123px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #9e9898;
    font-weight: 300;
    text-align: right;
}

.intro__adversting {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 109px;
    justify-content: space-between;
}

.adversting__text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* ------Marketing------- */
.intro__marketing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.marketing {
    background-color: #cdcaca;
    padding: 140px 0 15px;
}

.adversting .container,
.marketing .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.marketing__title {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #868686;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.marketing__line {
    display: inline-block;
    width: 10px;
    height: 30px;
    background-color: #fc635e;
}

.marketing__subtitle {
    width: 399px;
    height: 123px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #9e9898;
    font-weight: 300;
}

/* ------Portfolio------- */
.portfolio {
    padding: 73px 0 18px;
}

.intro_portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.portfolio__title {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #868686;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.portfolio__menu {
    width: 100%;
    display: flex;
    padding-top: 78px;
    justify-content: space-between;
    padding: 66px 20px 0;
}

.portfolio__menu span {
    font-size: 20px;
    color: #fc635e;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.portfolio__menu span.slash {
    color: #ccc;
    font-size: 30px;
    font-weight: 700;
}

.images__group1,
.images__group2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.images__group1 img:first-child {
    width: 454px;
}

.images__group2 {
    padding-top: 10px;
}

.portfolio__images {
    width: 100%;
    padding: 65px 0 54px;
}

.port_but {
    width: 192px;
}

.intro__portfolio {
    flex-direction: column;
    align-items: center;
}

.portfolio__button {
    padding-bottom: 23px;
}

.portfolio__button,
.marketing__image {
    display: flex;
    justify-content: center;
}

/* ------ Our team------ */
.our__team {
    background-color: #cdcaca;;
}

.inner__our__team__title {
    padding-top: 52px;
}

.inner__our__team {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inner__our__team__h1 {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #565656;
    font-weight: 500;
    font-family: "PF Encore Sans Pro";
    text-align: center;
    text-transform: uppercase;
}

.inner__our__team__h1_red {
    color: #fb635d;
}

.our__team__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 39px 0 43px;
}

.item1 {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.team__name {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #565656;
    font-weight: 500;
    text-align: center;
    padding-top: 25px;
}

.team__name__red {
    color: #fb635d;
}

.team__profe {
    width: 100%;
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #565656;
    font-weight: 500;
    font-family: "P FEncore Sans Pro";
    text-align: center;
    padding-top: 20px;
}

.social__item {
    text-decoration: none;
}

.team__icon {
    padding-top: 15px;
    width: 100%;
    text-align: center;
}

/* ------ Ceo Prof------ */
.intro__ceo__prof {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
}

.ceo__prof {
    height: 695px;
}

.title__ceo__pof {
    padding-top: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.name__style {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 41px;
    color: #565656;
    font-weight: 500;
}

.name__style__red {
    color: #fb635d;
}

.ceo__biography {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 77px;
}

.ceo__bio__text {
    max-width: 321px;
    flex: 1;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 21px;
    color: #767676;
    font-weight: 300;
    text-align: right;
}

.prof__style {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 41px;
    color: #767676;
    font-weight: 500;
    padding-top: 20px;
}

.ceoimg {
    padding-top: 8px;
}

.ceo__bio__img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.ceo__bio__name {
    flex: 1;
}

.ceo__slide {
    padding-top: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.slide1 {
    width: 45px;
    height: 45px;
    border: 1px solid tomato;
    border-radius: 50%;
    transition: 0.3s all ease-in-out;
    padding: 12px 11px;
    margin-left: 25px;
}

.slide2 {
    width: 45px;
    height: 45px;
    border: 1px solid tomato;
    border-radius: 50%;
    transition: 0.3s all ease-in-out;
    padding: 12px 11px
}

.slide img {
    width: 100%;
    height: 100%;
}

/* ------ Map------ */
.map {
    width: 100%;
    background-image: url("../media/Images/map.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.map .container {
    display: flex;
    justify-content: center;
}

.map__hexagon {
    position: relative;
    width: 242px;
    top: -121px;
    display: flex;
    padding: 0 11px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 139.72px;
    background-color: #fb635d;
    margin: 69.86px 0;
    border-left: solid 11px #fe8682;
    border-right: solid 11px #fe8682;
}

.map__hexagon span,
.map__hexagon div {
    z-index: 2;
    color: #ffffff;
    line-height: 21px;
    letter-spacing: 0px;
    font-family: "PF Encore Sans Pro";
}

.map__hexagon span {
    font-size: 27px;
    font-weight: 500;
}

.map__hexagon div {
    margin-top: 44px;
    font-size: 15px;
    font-weight: 300;
}

.map__hexagon:before,
.map__hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 171.12px;
    height: 171.12px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 24.4401px;
}

.map__hexagon:before {
    top: -85.5599px;
    border-top: solid 15.5563px #fe8682;
    border-right: solid 15.5563px #fe8682;
}

.map__hexagon:after {
    bottom: -85.5599px;
    border-bottom: solid 15.5563px #fe8682;
    border-left: solid 15.5563px #fe8682;
}

/* ------ Footer------ */
.footer {
    display: block;
    width: 100%;
    height: 210px;
    background-image: url("../media/Images/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__img {
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.burger {
    display: none;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative;
}

.burger__item::before,
.burger__item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    right: 0;
    background-color: #fff;
}

.burger__item::before {
    top: -8px;
}

.burger__item::after {
    bottom: -8px;
}

/* ------ Media------ */


@media (max-width: 991px) {

    .header__inner {
        flex-direction: column;
    }

    .nav {
        width: 100%;
        justify-content: space-around;
        padding-top: 10px;
    }

    .intro__title {
        flex-direction: column;
    }

    .nav__link {
        margin: 0;
    }

    .item {
        flex-direction: column;
    }

    .features__title {
        font-size: 20px;
    }

    .features__line {
        width: 300px;
    }

    .features__subtitle {
        width: 100%;
    }

    .intro__landing {
        flex-direction: column;
    }

    /*.intro__landing__pages__2 {*/
    /*    padding-top: 10px;*/
    /*}*/

    .portfolio__menu {
        flex-direction: column;
    }

    .intro__marketing {
        justify-content: center !important;
    } 

    .wrap__block {
        justify-content: center;
    }
    .wrap__block div {
        padding: 5px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    } 
    .our__team__item {
        flex-direction: column;
        
    }
    .ceo__biography{
        flex-direction: column;
    }
    .ceo__slide{
        padding-top: 0px;
    }
    .map__hexagon{
        margin-top: 141px;
    }
    .images__group1{
        flex-direction: column;
        align-items: center;
    }
    .images__group2{
        flex-direction: column;
        align-items: center;
    }
    .portfolio__images .images__group1 img{
        width: 217px;
        height: 170px;
        padding-top: 5px;
    }
    .portfolio__images .images__group2 img{
        width: 217px;
        height: 170px;
        padding-top: 5px;
    }
    .portfolio__images{
        justify-content: center;
    }
    .features__item{
        margin: 35px 0;
    }
    .intro__team{
        align-items: center;
    }
    .team{
        height: 1485px;
    }
    .team__item{
        left: 0px;
        top: -121px;
        border-left: 5px solid #fb635d;
    }

    .team__item::after{
        border-left: 5px solid #fb635d;
        border-bottom: 5px solid #fb635d;
    }
    .team__item__img{
        padding-top: 5px;
        padding-left: 0px;
    }
    .team__item1{
        left: 37px;
        top: 423px;
        border-right: solid 5px #fb635d;
    }
    .team__item1::before{
        border-right: solid 5px #fb635d;
    }
    .team__item1::after{
        border-bottom: solid 5px #fb635d;
        border-left: solid 5px #fb635d;
    }
    .team__item2{
        left: 37px;
        top: 642px;
    }
    .team__item2::after{
        border-left: 5px solid #fb635d;
        border-bottom: 5px solid #fb635d;
    }
    .team__item3{
        left: 5px;
        top: 857px;
        border-left: 5px solid #fb635d;
    }
    .team__item3::after{
        border-left: 5px solid #fb635d;
    }
    .team__item::after{
        border: 1px solid transparent;
        background-color: transparent;
        border-left: 3px solid #fb635d;
    }
    .team__title{
        flex-direction: column;
    }
    .team__subtitle{
        flex-direction: column;
        width: 100%;
    }
    .marketing__img{
        width: 100%;
    }
    .mark__img{
        width: 100%;
    }
    .marketing__subtitle{
        width: 100%;
    }
    .intro__landing__pages__2{
        width: 100%;
    }
    .landing__text{
        width: 100%;
    }
    .land__img{
        width: 100%;
    }
    .adversting__image{
        width: 100%;
    }
    .add__img{
        width: 100%;
    }
    .adversting__subtitle{
        width: 100%;
    }

}

@media (max-width: 767px) {
    .intro {
        height: auto;
    }

}

/* @media (max-width: 991px) {
    .wrap__block {
        justify-content: center;
    }

    .wrap__block div {
        padding: 5px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
} */